/*
CSS Reset
http://meyerweb.com/eric/tools/css/reset/
*/


/* particleground demo */

body {
  background: -moz-linear-gradient(-45deg, #e7f1f9 0, #e7f1f9 25%, #cce3f7 50%, #cce1f4 75%, #cce1f4 100%);
  background: -webkit-linear-gradient(-45deg, #e7f1f9 0, #e7f1f9 25%, #cce3f7 50%, #cce1f4 75%, #cce1f4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
